:root {
  --main-color: rgb(50, 164, 139);
  --main-color-rgb: 50, 164, 139;
}

body {
  font-family: 'Noto Naskh Arabic', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-text {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
}

.main-button {
  background-color: var(--main-color) !important;
  border: none !important;
  color: var(--bs-white);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

nav {
  background-color: var(--main-color);
}

nav .main-text {
  font-size: 2.5rem;
}

nav a {
  font-size: 1.2rem;
  font-family: 'Noto Naskh Arabic', sans-serif;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#32a48b), to(rgba(255, 255, 255, 0.678))), url("../imgs/pexels-vidal-balielo-jr-1250655_1.webp");
  background: linear-gradient(to bottom, #32a48b, rgba(255, 255, 255, 0.678)), url("../imgs/pexels-vidal-balielo-jr-1250655_1.webp");
  min-height: calc(100vh - 72px);
  background-position: center;
  background-size: cover;
}

header .booking {
  color: var(--main-color);
  max-width: 400px;
  padding: 40px 30px;
  border-radius: 5px;
  margin-top: 4rem;
}

header .booking input {
  display: block;
  min-width: 100%;
  background-color: rgba(var(--main-color-rgb), 0.1);
  color: var(--main-color);
  border: none;
  margin: 25px 0;
  border-radius: 7px;
  padding: 20px;
}

header .booking input::-webkit-input-placeholder {
  color: var(--main-color);
}

header .booking input:-ms-input-placeholder {
  color: var(--main-color);
}

header .booking input::-ms-input-placeholder {
  color: var(--main-color);
}

header .booking input::placeholder {
  color: var(--main-color);
}

header .booking input::-ms-input-placeholder {
  color: var(--main-color);
}

header .booking input:focus {
  outline: 2px solid var(--main-color);
}

.clients img {
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}

.services__parg {
  min-width: 18rem;
  max-width: 50%;
  line-height: 1.9;
  margin-bottom: 50px;
}

.services__card {
  margin: 15px 0;
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services__card .icon {
  background-color: rgba(var(--main-color-rgb), 0.2);
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: var(--main-color);
}

.services__card h4 {
  margin-bottom: 20px;
}

.services__card:hover {
  -webkit-box-shadow: 0px 10px 20px 0px #adb5bd38;
          box-shadow: 0px 10px 20px 0px #adb5bd38;
  -webkit-transform: translateY(-10px) scale(1.1);
          transform: translateY(-10px) scale(1.1);
}

.services__card p {
  line-height: 1.9;
}

.services__card a {
  color: var(--main-color);
}
/*# sourceMappingURL=main.css.map */