:root {
    --main-color: #32A28A;
    --secondary--color: #FF5E20;
}

body {
    font-family: 'Noto Naskh Arabic',
        serif;
    font-weight: 400;
}

// component

h1,
h2,
h3,
h4,
h5,
h6,
.main-text {
    font-family: 'Noto Sans Arabic',
        sans-serif;
    font-weight: 700;
}

nav {
    background-color: var(--main-color);

    .main-text {
        font-size: 2.5rem;
    }

    a {
        font-size: 1.2rem;
        font-family: 'Noto Naskh Arabic',
            sans-serif;
    }
}