:root {
    --main-color: rgb(50, 164, 139);
    --main-color-rgb: 50, 164, 139;
}

body {
    font-family: 'Noto Naskh Arabic',
        serif;
    font-weight: 400;
}

// component

h1,
h2,
h3,
h4,
h5,
h6,
.main-text {
    font-family: 'Noto Sans Arabic',
        sans-serif;
    font-weight: 700;
}

.main-button {
    background-color: var(--main-color) !important;
    border: none !important;
    color: var(--bs-white);
}

// Navbar
nav {
    background-color: var(--main-color);

    .main-text {
        font-size: 2.5rem;
    }

    a {
        font-size: 1.2rem;
        font-family: 'Noto Naskh Arabic',
            sans-serif;
    }
}

// Navbar

// header
header {
    background: linear-gradient(to bottom, rgb(50, 164, 139), rgba(255, 255, 255, 0.678)),
        url('../imgs/pexels-vidal-balielo-jr-1250655\ \(1\).jpg');
    min-height: calc(100vh - 72px);
    background-position: center;
    background-size: cover;

    .booking {
        color: var(--main-color);
        max-width: 400px;
        padding: 40px 30px;
        border-radius: 5px;
        margin-top: 4rem;

        input {
            display: block;
            min-width: 100%;
            background-color: rgba(var(--main-color-rgb), .1);
            color: var(--main-color);
            border: none;
            margin: 25px 0;
            border-radius: 7px;
            padding: 20px;


            &::placeholder {
                color: var(--main-color);
            }

            &::-ms-input-placeholder {
                color: var(--main-color);
            }

            &:focus {
                outline: 2px solid var(--main-color);

            }
        }



    }
}

// header